.gpt__brand{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
}



.gpt__brand img{
  flex: 1;
  max-width: 100px;
  min-width: 80px;
  margin: 0.5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
